/*Общие стили*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: black;
  background: white;
}

/* Общие параметры */

.incognito {
  position: absolute;
  display: none;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Логотип */

.shop-logo {
  display: flex;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  text-align: center;
}

.shop-logo img {
  margin: auto;
  padding-left: 55px;
  padding-right: 56px;
}

.shop-logo:hover {
  background-color: #ca2c37;
}

.shop-logo:active {
  background: #ba2732;
}


/* Header top */

.header-top {
  display: flex;
  background-color: #293449;
  height: 42px;
}

/* Поиск */

.search-block {
  display: flex;
  align-items: center;
  width: 270px;
  height: 42px;
}

label.search-icon {
  position: absolute;
  background-image: url('../img/icon-search.svg');
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  opacity: 0.3;
}

.header-search {
  display: flex;
  position: relative;
  width: 270px;
  height: 42px;
  background-color: #293449;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.header-search input {
  background-color: #293449;
  border: none;
  width: 270px;
  padding-left: 49px;
}

.header-search input:hover {
  background: #212a3a;
  border: none;
}

.header-search input:hover+label {
  opacity: 1;
}

.header-search input:focus {
  width: 270px;
  height: 42px;
  position: relative;
  background: #ffffff;
  outline: none;
}

.header-search input:focus+label {
  position: absolute;
  background-image: url('../img/icon-search.png');
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:focus::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #ffffff;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #ffffff;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #ffffff;
}

/*Ссылки в шапке */

.header-top ul {
  display: flex;
  align-items: center;
  padding: 0;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.header-top li {
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
  height: 42px;
  cursor: pointer;
}

.header-top span {
  margin-left: 44px;
}

.header-top li:first-child::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 13px;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top li:first-child:hover::before {
  opacity: 1;
}

.header-top li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 17px;
  background-image: url('../img/icon-cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top li:nth-child(2):hover::before {
  opacity: 1;
}

.header-top li:not(:nth-child(3)):hover {
  background-color: #212a3a;
}

.header-top li:not(:nth-child(3)):active {
  background-color: #161d29;
}

.header-top li:not(:nth-child(3)):active::before,
.header-top span:active,
.header-top p:active {
  opacity: 0.3;
}


.make-order {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #63a63e;
  width: 150px;
  min-height: 42px;
  height: 42px;
  justify-content: center;
}

.make-order:hover {
  background: #5fbb2d;
}

.make-order:active {
  background: #518534;
}

/*header-middle */

.header-middle {
  display: flex;
  background-color: #f4f7f9;
  min-height: 158px;
  align-items: center;
  justify-content: center;
}

.info-title {
  display: flex;
  align-items: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  width: 196px;
  height: 60px;
  margin-left: 53px;
  text-align: left;
}

.info-title p {
  margin: 0;
}

.contacts-title {
  width: 270px;
  height: 68px;
  margin-left: 71px;
}

.contacts-title p {
  margin: 0;
}

.phone-number {
  position: relative;
  font-size: 21px;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 21px;
  padding-left: 74px;
}

.phone-number::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: center;
  left: 15px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-adress {
  font-size: 14px;
  color: #32425c;
  line-height: 24px;
  padding-top: 21px;
}

.cite-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: black;
  line-height: 21px;
  width: 281px;
  height: 45px;
  margin-left: 69px;
}

.header-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000000;
  width: 121px;
  height: 45px;
  background-color: white;
}

.header-sign:hover {
  color: #ee3643;
}

.header-sign:hover path,
.header-sign:focus path {
  fill: #32425C;
}

.header-sign svg {
  margin-right: 14px;
}

.header-sign:hover {
  color: #ee3643;
}

.header-reg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: #000000;
  width: 150px;
  height: 45px;
  background-color: white;
}

.header-reg:hover {
  color: #ee3643;
}

/* header-bottom */

.lower-header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-bottom {
  box-shadow: 0 5px 0 0 #293449;
  height: 60px;
  font-size: 17px;
  color: white;
  background-color: #32425c;
}

.navigation {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-bottom a {
  display: flex;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 20px 31px;
}

.header-bottom a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #293449;
}

.header-bottom li:first-child {
  margin-left: 21px;
}

/* Секция с слайдером и цветными плитками */

.blocks-and-slider {
  width: 620px;
  height: 409px;
  margin-top: 59px;
}

.blocks-and-slider ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.colored-blocks h3 {
  display: flex;
  font-family: 'Cuprum';
  font-size: 24px;
  font-weight: 600;

  text-align: left;
  color: #ffffff;
  margin-left: 23px;
  margin-top: 26px;
  margin-bottom: 75px;
}

.blocks-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  background: rgba(0, 0, 0, .1);
  position: absolute;
  margin-top: 63px;
  margin-left: 25px;
}

.blocks-promo:hover {
  background: rgba(0, 0, 0, .2);
}

.blocks-promo:active {
  background: rgba(0, 0, 0, .3);
}

.new-materials {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  background-repeat: no-repeat;
}

.new-materials::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.new-materials::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  left: 240px;
  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tools {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  margin-left: 20px;
}

.tools::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Слайдер */

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-top: 20px;
}

.slider-drills {
  position: absolute;
  margin-top: 27px;
  margin-bottom: 0px;
  margin-left: 24px;
  width: auto;
  height: 30px;
  font-family: 'Cuprum';
  font-size: 36px;
  line-height: 36px;
  color: white;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 295px;
  bottom: 36px;
  text-align: center;
  width: 50px;
  z-index: 5;
}

.switch label {
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: #ee3643;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #ee3643;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides p {
  position: absolute;
  margin-top: 65px;
  margin-bottom: 0px;
  margin-left: 25px;
  width: auto;
  height: 17px;
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.slides img {
  width: 620px;
  height: 266px;
  float: left;
}

#btn2:checked~.slides .slider-inner .item-1 {
  transform: translate(0);
  background-image: url('../img/slide-image2.jpg');
}

#btn2:checked~.slides .slider-inner .item-1 .slider-drills {
  transform: translate(0);
}


.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/*Select every element*/

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-image: url('../img/slide-image.jpg');
}

.item-2 {
  background-image: url('../img/slide-image2.jpg');
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}


.btn-open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 206px;
  margin-left: 25px;
  width: 195px;
  height: 38px;
  font-size: 14px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn-open:hover {
  background-color: #ca2c37;
}

.btn-open:active {
  background-color: #ba2732;
}

/* Секция с тремя плитками справа */

.right-blocks {
  width: 300px;
  height: 409px;
  margin: 0;
  margin-left: 20px;
  margin-top: 59px;
}

.right-blocks ul {
  padding: 0;
  margin: 0;
}

.equipment {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
}

.equipment::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discounts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  margin-top: 20px;
}

.discounts::before {
  position: absolute;
  content: "";
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url('../img/icon-4.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  margin-top: 20px;
}

.delivery::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  background-image: url('../img/icon-5.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blocks-flex {
  display: flex;
}


/* Популярные товары */

.catalog-items {
  display: flex;
  flex-direction: row;
  margin-top: 53px;
}

.header-of-popular {
  display: flex;
  height: 89px;
  width: 940px;
  background-color: #f9f5f0;
}

.popular-items-h2 {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #32425c;
  margin-left: 30px;
  margin-top: 33px;
  text-transform: uppercase;
}

.all-popular-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 25px;
  margin-left: 663px;
  width: 253px;
  height: 38px;
  font-size: 14px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

/* Карточки товаров на главной */

.featured-items {
  display: flex;
  margin-top: 21px;
}

.featured-items article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  min-height: 318px;
  border: solid 1px #eaeaea;
  margin-right: 20px;
}

.featured-items article:nth-child(4n) {
  justify-content: flex-start;
  margin-right: 0px;

}

.featured-items h3 {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  font-size: 18px;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.featured-items del {
  font-family: 'PT Sans';
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #a9a9a9;
  margin-top: 18px;
}

.featured-items span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  margin: 13px auto;
  margin-bottom: 21px;
  padding: 10px 30px;
  font-family: 'PT Sans';
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.featured-items span::after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.special-drill {
  position: relative;
}

.special-drill h3 {
  margin-bottom: 43px;
}

.special-drill::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  left: 159px;
  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.small-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 219px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.button-buy,
.button-book {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-align: center;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-book {
  position: relative;
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.button-buy:hover {
  color: white;
  background: #5fbb2d;
}

.button-buy:active {
  border: 3px solid #518534;
  background-color: #518534;
}

.button-book:hover {
  border: solid 3px #32425c;
}

.button-book:active {
  opacity: 0.3;
}

.featured-items article .small-popup {
  display: none;
}

.featured-items article:hover .small-popup {
  display: block;
}

/* Секция с производителями */

.top-firms-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f5f0;
  text-transform: uppercase;
  margin-top: 21px;
  width: 940px;
  height: 89px;
}

.top-firms-name {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  margin-left: 24px;
  margin-right: 269px;
  text-transform: uppercase;
}

.top-firms-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 38px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 0;
  text-transform: uppercase;
  margin-right: 24px;
}

.top-firms-all:hover {
  background-color: #ca2c37;
}

.top-firms-all:active {
  background-color: #ba2732;
}

.show-all-firms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 940px;
  padding: 0;
}

.show-all-firms li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  border: solid 1px #eaeaea;
}

.show-all-firms li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.show-all-firms li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.show-all-firms img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}




/* Сервисы */

.services {
  background-color: #f4f7f9;
  height: 522px;
  position: relative;
  margin-top: 85px;
}

.slide {
  display: none;
  min-height: 284px;
}

.services-toggle::after {
  content: "";
  position: absolute;
  z-index: 99;
  top: -39px;
  left: 231px;
  width: 15px;
  height: 284px;
  background: url(../img/shadow.png) no-repeat;
  background-position: 0 0;
}

.services-toggle {
  position: absolute;
  z-index: 60;
  width: 60px;
  height: 10px;
}

.services-toggle label {
  display: inline-block;
  width: 218px;
  padding: 13px 0 16px 22px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
  font-weight: normal;
}

.services-toggle label:hover {
  cursor: pointer;
  background-color: #293449;
}

.services-toggle label:active {
  background-color: #ffffff;
  color: #32425c;
  border-top: none;
  border-bottom: none;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
}

.services-header {
  margin-top: 0;
  padding-top: 68px;
  font-weight: normal;
}

.services-description {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-top: 38px;
}

.span-header {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding-top: 39px;
}

.slide p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.right-slider {
  padding-left: 319px;
  min-height: 284px;
  list-style: none;
}

.services-slider {
  position: relative;
  margin-top: 64px;
  min-height: 284px;
}

.span-header {
  margin: 0;
  margin-top: -40px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

#button-1:checked~.services-toggle label[for=button-1] {
  background-color: #ffffff;
  color: #32425c;
  border-top: none;
  border-bottom: none;
}

#button-2:checked~.services-toggle label[for=button-2] {
  background-color: #ffffff;
  color: #32425c;
  border-top: none;
  border-bottom: none;
}

#button-3:checked~.services-toggle label[for=button-3] {
  background-color: #ffffff;
  color: #32425c;
  border-top: none;
  border-bottom: none;
}

#button-1:checked~.right-slider {
  background: url('../img/delivery.png') no-repeat 472px 6px;
}

#button-2:checked~.right-slider {
  background: url('../img/guarantee.png') no-repeat 472px -1px;
}

#button-3:checked~.right-slider {
  background: url('../img/credit.png') no-repeat 472px -10px;
}

.button-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 38px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3643;
  color: #ffffff;
  float: left;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 31px;
}

.services-description-1 {
  margin-top: 34px;
}

.services-description-2 {
  margin-top: 38px;
}

#button-1:checked~.right-slider #slide1,
#button-2:checked~.right-slider #slide2,
#button-3:checked~.right-slider #slide3 {
  display: block;
}

.services input {
  display: none;
}

/* Оформление секции о компании и контакты */

.company-contacts {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.about-us {
  width: 550px;
}

.about-us h2 {
  font-size: 30px;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 82px;
  font-weight: normal;
}

.about-us p {
  font-size: 13px;
  font-family: "PTSans", "Arial", sans-serif;
}

.about-us-p1 {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  letter-spacing: normal;
  line-height: 24px;
  width: 550px;
  margin-bottom: 36px;
}

.companies {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.companies li {
  display: flex;
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  position: relative;
  line-height: 20px;
  padding-left: 36px;
  margin-top: 23px;
}

.companies li::before {
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3643;
  color: #ffffff;
  float: left;
  text-align: center;
  border-radius: 4px;
  margin-top: 37px;
  margin-bottom: 86px;
  text-transform: uppercase;
}

.details:hover {
  background-color: #ca2c37;
}

.details:active {
  background-color: #ba2732;
}

.details a {
  font-size: 14px;
  padding-top: 14px;
}

.contacts h2 {
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 82px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  margin-bottom: 40px;
  letter-spacing: normal;
  line-height: 24px;
}

.contacts img {
  margin-bottom: 20px;
}

.write-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3643;
  color: #ffffff;
  float: left;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
}

.write-us:hover {
  background-color: #ca2c37;
}

.write-us:active {
  background-color: #ba2732;
}


/*Footer */


.shop-logo-footer {
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  box-shadow: 0 5px 0 0 #b52933;
  vertical-align: center;
  text-align: center;

}

.shop-logo-footer img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-logo-footer:hover {
  background-color: #ca2c37;
}

.shop-logo-footer:active {
  background: #ba2732;
}

.footer-up {
  width: 100%;
  height: 193px;
  background-color: #32425c;
  display: flex;
}

.footer-info {
  width: 390px;
  display: flex;
  flex-direction: column;
}

.footer-adress {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 53px;
}

.bottom-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.bottom-nav li {
  display: flex;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f1f5f7;
  font-size: 18px;
  margin-right: 60px;
}

.bottom-nav li:last-child {
  margin-right: 0;
}

.bottom-nav li:hover {
  text-decoration: underline;
}

.bottom-nav-2 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 26px;
}

.bottom-nav-2 li {
  display: flex;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffd180;
  font-size: 18px;
  margin-right: 60px;
}

.bottom-nav-2 li:hover {
  text-decoration: underline;
  color: #ffd180;
}


/*Оформление нижней части футера */

.dark-bottom {
  width: 100%;
  height: 107px;
  background-color: #293449;
  display: flex;
  margin: auto;
}

.copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin-top: 39px;
  min-width: 228px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 161px;
  margin-top: 35px;
  width: 132px;
  height: 42px;
}

.social-networks ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.social-networks li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212a3a;
  border-radius: 50px;
  margin-right: 3px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}

.social-networks li:hover {
  background-color: #ee3643;
}

.social-networks li:active {
  background-color: #ee3643;
}

.social-networks img {
  display: flex;
}

.academy-copyright {
  display: flex;
  width: 135px;
  height: 32px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  margin-left: 119px;
  margin-top: 40px;
}

.feedback {
  margin: 0;
  padding: 0;
}

.made-by {
  margin-left: 53px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.academy-copyright a {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffd180;
}

.academy-copyright a:hover {
  text-decoration: underline;
}


/* Разметка каталога */

/* Немного о header */

.user-block-profile {
  display: flex;
  flex-direction: column;
}

.block-red {
  background-color: #ee3643;
}

.user-loged {
  display: flex;
  align-items: center;
  width: 299px;
  height: 45px;
  margin-left: 51px;
  background-color: #ffffff;
}

a.user-profile {
  position: relative;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  padding-left: 47px;
  padding-right: 59px;
}

a.user-profile:active {
  opacity: 0.3;
}

a.user-profile::before {
  position: absolute;
  content: '';
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-user.svg');
  cursor: pointer;
}

a.user-profile:hover::before {
  position: absolute;
  content: '';
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-user.png');
  cursor: pointer;
}

a.user-profile::after {
  position: absolute;
  content: '';
  right: 10px;
  top: 2px;
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-logout.svg');
  cursor: pointer;
}

a.user-profile:hover::after {
  position: absolute;
  content: '';
  right: 10px;
  top: 2px;
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-logout.png');
  cursor: pointer;
}

.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.label-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: dotted;
}

.label-title:hover {
  color: black;
}

.lable-title:active {
  color: #ee3643;
}

.user-settings {
  margin-left: 51px;
  margin-top: 10px;
  padding-left: 17px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #32425c;
}

.my-orders {
  margin-right: 15px;
  text-decoration: underline;
}

.my-orders:hover {
  color: #ee3643;
}

.my-orders:active {
  color: #32425c;
  opacity: 0.3;
}

.point {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #32425c;
  border-radius: 50px;
}

.my-profile {
  margin-left: 13px;
  text-decoration: underline;
}

.my-profile:hover {
  color: #ee3643;
}

.my-profile:active {
  color: #32425c;
  opacity: 0.3;
}



/* Breadcrumbs */

.breadcrumbs-list li {
  font-size: 13px;
  line-height: 18px;
}

ul.breadcrumbs-list {
  display: flex;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
  width: 255px;
}

.breadcrumbs-list li {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}

.breadcrumbs-list li:nth-child(2) {
  margin-left: 41px;
}

.breadcrumbs-list li:nth-child(3) {
  margin-left: 39px;
}

.breadcrumbs-list li:nth-child(4) {
  margin-left: 43px;
}

.breadcrumbs-list li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 8px;
  height: 12px;
  background: url('../img/icon-right-small.svg') no-repeat;
  background-position: 0 0;
}

.breadcrumbs-list li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 8px;
  height: 12px;
  background: url('../img/icon-right-small.svg') no-repeat;
  background-position: 0 0;
}

.breadcrumbs-list li:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 8px;
  height: 12px;
  background: url('../img/icon-right-small.svg') no-repeat;
  background-position: 0 0;
}

.breadcrumbs-list .selected {
  cursor: default;
}

/* Блок с заголовком перфораторов */

.hammer-drills {
  display: flex;
  align-items: center;
  height: 89px;
  margin-top: 25px;
  background-color: #f2f6f8;
}

.hammer-drills h2 {
  width: 168px;
  height: 23px;
  font-family: 'Cuprum';
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  margin-left: 30px;
}

/* Сетка центра страницы */

.main-catalog-block {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.filter-left {
  width: 220px;
}

.catalog-center {
  width: 700px;
  margin-left: 20px;
}

/* Фильтр в левой части каталога */

.filter-block {
  display: flex;
  align-items: center;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.filter-title {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 19px;
  margin-right: 139px;
}

.label-title {
  display: flex;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

article.filter-first {
  display: flex;
  align-items: center;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
}

.filter-first span {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  margin-left: 18px;
}

/* Карточки товаров */

.items {
  margin-top: 21px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 706px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item {
  width: 220px;
  height: 318px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-item span {
  width: 155px;
  height: 33px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.new-price {
  background-image: url('../img/red-button.svg');
  width: 141px;
  height: 38px;
  object-fit: contain;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 35px;
  color: #ffffff;
  margin: auto;
}

.new-price:nth-child(3n) {
  margin-top: 50px;
}

/* Пагинация */

.pagination-list {
  display: flex;
  padding-left: 0;
}

.pagination-list li {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 38px;
  text-align: center;
  margin-right: 10px;
  border-radius: 3px;
}

.pagination-list li:last-child {
  width: 140px;
  height: 38px;
  text-transform: uppercase;
}

.pagination-list li:hover {
  border: solid 1px #bdc6ca;
}

.pagination-list li:active {
  border: solid 1px #ee3643;
}

/* Перед футером в каталоге */

.epilogue {
  height: 261px;
  background-color: #f4f7f9;
}

.few-words {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 67px;
}

.about-drills {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 73px;
}
